apiVersion: v1
kind: Secret
metadata:
  name: k8guard-action-secrets
data:
  # passwords need to be base64, echo -n "REPLACE_ME" | base64
  hipchat-token: "UkVQTEFDRV9NRQ=="
  cassandra-password: "Y2Fzc2FuZHJh"
